@import "/styles/utilities.scss";
@import "/styles/variables.scss";

$medida: 1920;

.f40l {
  $f40l: (
    1920px: 52px,
    1441px: 52px,
    1440px: 40px,
    769px: 36px,
    768px: 40px,
    415px: 24px,
    414px: 24px,
    375px: 24px,
    240px: 22px,
  );
  @include poly-fluid-sizing("font-size", $f40l);
}
.paddingContainer {
  padding-left: calculate-vw(450, $medida);
  padding-right: calculate-vw(450, $medida);
  padding-top: calculate-vw(80, $medida);
  padding-bottom: calculate-vw(80, $medida);
  @media screen and (max-width: 1440px) {
    $medida: 1440;
    padding-left: calculate-vw(450, $medida);
    padding-right: calculate-vw(450, $medida);
    padding-top: calculate-vw(80, $medida);
    padding-bottom: calculate-vw(80, $medida);
  }
  @media screen and (max-width: 1024px) {
    $medida: 1024;
    padding-left: calculate-vw(220, $medida);
    padding-right: calculate-vw(220, $medida);
    padding-top: calculate-vw(60, $medida);
    padding-bottom: calculate-vw(60, $medida);
  }
  @media screen and (max-width: 768px) {
    $medida: 768;
    padding-left: calculate-vw(100, $medida);
    padding-right: calculate-vw(100, $medida);
    padding-top: calculate-vw(60, $medida);
    padding-bottom: calculate-vw(60, $medida);
  }
  @media screen and (max-width: 414px) {
    $medida: 414;
    padding-left: calculate-vw(33, $medida);
    padding-right: calculate-vw(33, $medida);
    padding-top: calculate-vw(57, $medida);
    padding-bottom: calculate-vw(57, $medida);
  }
  @media screen and (max-width: 375px) {
    $medida: 375;
    padding-left: calculate-vw(33, $medida);
    padding-right: calculate-vw(33, $medida);
    padding-top: calculate-vw(57, $medida);
    padding-bottom: calculate-vw(57, $medida);
  }
}
